/* Main content layout */
.content {
    /* padding: 2rem; */
    background-color: #080808;
    min-height: 100vh;

}

.bookingContent{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}
.image{
    width: 50%;
}

/* Main slogan/header */
.slogan {
    text-align: left;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 2rem 0;
    margin-left: 40px;
    color: #dfd3d3;
}
