.hero {
    position: relative;
    background-color: #333;
    color: #fff; /* Light text on dark background */
    overflow: hidden;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure full viewport height */
  width: 100%; /* Ensure full width */
  background-size: cover; /* Scale the background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Ensure no image repeat */
  position: relative; /* Establish a containing block for absolute positioning */
  z-index: 1; /* make sure the text is above the background */
}

.hero-container::before {
  content: ''; /* Required for overlay */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Background overlay color */
  z-index: -1; /* Ensure overlay is below content */
}

.hero-content {
    max-width: 50%;
    text-align: center;
    padding: 2rem;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: #ddd; /* Slightly less bright text */
}

.hero-button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    border-radius: 4px;
    margin-top: 10px;
}

.hero-button:hover {
  background-color: #27ae60;
}

.bgImage{
    height: 50vh; /* Ensure full viewport height */
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .hero-container {
    height: auto;
    padding: 4rem 0;
  }
  .hero-content{
    max-width: 80%;
  }
  .hero-title {
    font-size: 2rem;
  }
}