.project-card {
    width: 100%;
    max-width: 300px; /* Width of each card */
    height: 250px;
    background-color: #131212;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project-image {
    width: 100%;
    height: 150px; /* Fixed height for the image */
    object-fit: cover;
}

.project-infos {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100px; /* Reduced height to make the name and category take up less space */
}

.project-name {
    font-size: 14px; /* Smaller font size */
    font-weight: bold;
    color: #ffff;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project-category {
    font-size: 12px; /* Smaller font size */
    color: #ffff; /* Blue color for category */
    margin-top: 3px; /* Reduced space between name and category */
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 items per row */
    gap: 20px; /* Space between items */
    padding: 20px;
    justify-items: center; /* Center items horizontally */
}

.project-grid-container .project-card {
    margin: 0 auto; /* Center each card within the grid cell */
}

@media (max-width: 1200px) {
    .project-grid-container {
        grid-template-columns: repeat(3, 1fr); /* 3 items per row on medium screens */
    }
}

@media (max-width: 900px) {
    .project-grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 items per row on small screens */
    }
}

@media (max-width: 600px) {
    .project-grid-container {
        grid-template-columns: 1fr; /* 1 item per row on very small screens */
    }
}
